.profile{
    border: 20px solid #507386;
    background-color: #d7e0ea;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 800px;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

.profile-stuff {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-balance {
    font-size: 25px;
    margin-top: 20px;

    color: #2b3c46;
}

.transfer-profile {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 400px;
    font-size: 20px;
}

.profile-title {
    font-size: 20px;
    font-weight: bold;
    color: #2b3c46;
    align-items: center;
    justify-content: center;
}

.logout {
    border: 20px solid #507386;
    background-color: #d7e0ea;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 700px;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

.logout-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 20px;
}

.logout-title {
    font-size: 20px;
    font-weight: bold;
    color: #2b3c46;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-left: 120px;
}

.logout-button {
    width: 100px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    color: #2b3c46;
    background: #507386;
    border: 2px solid #507386;
    border-radius: 20px;
}

.login {
    border: 20px solid #507386;
    background-color: #d7e0ea;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 550px;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}
