{% extends 'layout.twig' %}
{% block content %}

    <h1>User: </h1>
    <br><br><br>
    <h2>Send your crypto coins</h2>
    <form action="/profile" method="post">
        <label for="search">Crypto </label>
        <input type="text" id="symbol" name="symbol" placeholder="COIN" required>
        <label for="search">Amount </label>
        <input type="text" id="amount" name="amount" required>
        <input type="submit" value="Give coins">
    </form>

{% endblock %}