{% extends 'layout.twig' %}
{% block content %}
    <div class="other-user">
        <h2>Transfer your crypto coins to user {{ findUser.name }}</h2>
        <div class="transfer-form">
            <form action="/profile/{{ findUser.name }}" method="post">
                <div class="transfer-form-line">
                    <label for="symbol">Crypto:</label>
                    <input class="transfer-input" type="text" id="symbol" name="symbol" placeholder="COIN" required>
                    <label for="amount">Amount:</label>
                    <input class="transfer-input" type="text" id="amount" name="amount" placeholder="123" required>
                </div>
                <div class="transfer-form-line">
                    <label for="password">Confirm with password:</label>
                    <input class="transfer-password" type="password" id="password" name="password" placeholder="Password123" required>
                </div>
                <div class="transfer-form-line">
                    <label for="id"></label>
                    <input type="hidden" name="id" value="{{ findUser.id }}">
                    <input type="submit" value="Give coins">
                    {% if errors.transfer %}
                        <p style="color: red; font-weight: bold">{{ errors.transfer }}</p>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}