{% extends 'layout.twig' %}
{% block content %}
    <div class="logout">

        <div class="logout-title">
            <h1>Are you sure you want logout?</h1>
        </div>

        <div class="logout-form">
            <form action="/logout" method="post">
                <button class="logout-button">Yes</button>
            </form>
            <form action="/" method="get">
                <button class="logout-button">No</button>
            </form>
        </div>
    </div>

{% endblock %}