{% extends 'layout.twig' %}
{% block content %}

    <div class="profile">
        <div class="left-side-profile">
            <h1>{{ auth.name }} Profile</h1>
            <h2>Your balance is {{ auth.money|number_format(2) }}$</h2>
        </div>

        <div class="right-side-profile">

            <div class="transfer-profile">
                <form action="/profile" method="post">
                    <label for="user">Search for user: </label>
                    <input type="text" id="user" name="user" placeholder="CRYPTO BRO" required>
                    <input type="submit" value="Search">
                </form>
            </div>

            <div class="transactions- header-profile">
                <h2>transaction history</h2>
                <p>{{ transactions.date }}</p>
            </div>

        </div>
    </div>



{% endblock %}