{% extends 'layout.twig' %}
{% block content %}

    <h1>{{ auth.name }}'s balance is {{ auth.money|number_format(2) }}</h1>

    <h2><a href="/wallet">Go to Wallet</a></h2>

    <h2>Transaction history</h2>



{% endblock %}